@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 60px;
}

h1 {
	letter-spacing: 1px;
}

.pricing-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pricing {
	background-color: #fff;
	border: 1px solid #eee;
	margin: 10px;
	text-align: center;
}

.pricing.highlight {
	border-top: 2px solid #50BC01;
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

.pricing h1 {
	color: #5CAEFE;
	margin: 30px 0 0;
}

.pricing h4 {
	margin: 20px 0 0;
}

.pricing small.green {
	color: #50BC01;
	margin: 0;
}

.pricing small.green + h1 {
	margin-top: 10px;
}

.pricing small {
	color: #777;
}

.pricing ul {
	list-style-type: none;
	padding: 0;
	margin: 40px 0;
}

.pricing ul li {
	margin: 20px 30px;
	max-width: 250px;
}

.pricing button {
	background-color: #5CAEFE;
	border: 0;
	border-radius: 2px;
	color: #fff;
	padding: 12px 20px;
	margin-bottom: 30px;
}

