@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--primary-color: #000;
	--secondary-color: #fff;
	--primary-color-dark: #fff;
	--secondary-color-dark: #333;
}

html {
	transition: all 0.5s ease-in;
}

body {
	font-family: 'Heebo', sans-serif;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

html.dark {
	--primary-color: var(--primary-color-dark);
	--secondary-color: var(--secondary-color-dark);
}

html.dark {
	background-color: #111;
	color: var(--primary-color);
}

.toggle {
	background-color: var(--primary-color);
	border: 0;
	border-radius: 4px;
	color: var(--secondary-color);
	font-family: 20px;
	padding: 8px 12px;
	position: absolute;
	top: 100px;
}

.toggle:focus {
	outline: 0;
}

.clock-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.clock {
	position: relative;
	width: 200px;
	height: 200px;
}

.needle {
	background-color: var(--primary-color);
	transition: all 0.5s ease-in;
	position: absolute;
	left: 50%;
	top: 50%;
	transform-origin: bottom center;
	width: 3px;
	height: 65px;
}

.needle.hour {
	transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
	transform: translate(-50%, -100%) rotate(0deg);
	height: 100px;
}

.needle.second {
	background-color: #e74c3c;
	height: 100px;
	transform: translate(-50%, -100%) rotate(0deg);
}

.center-point {
	background-color: #e74c3c;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.center-point::after {
	background-color: var(--primary-color);
	transition: all 0.5s ease-in;
	border-radius: 50%;
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.time {
	font-size: 60px;
}

.date {
	color: #aaa;
	font-size: 14px;
	letter-spacing: 0.3px;
	text-transform: uppercase;
}

.date .circle {
	background-color: var(--primary-color);
	border-radius: 50%;
	color: var(--secondary-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	line-height: 18px;
	transition: all 0.5s ease-in;
	width: 18px;
	height: 18px;
}
