@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	height: 100vh;
	margin: 0;
}

.settings {
	background-color: #1B1464;
	color: #fff;
	padding: 0 20px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
}

.settings select {
	margin: 0 0 20px;
}

.block {
	background-image: url('https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9');
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	position: absolute;
	transition: all 1000ms ease;
/* 	top: calc(50vh - 1vh); */
/* 	left: calc(50vw - 1vw); */
/* 	top: 100vh;
	left: 100vw; */
}
