@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #516dff;
	color: #fff;
	flex-direction: column;
	font-family: 'Press Start 2P';
	height: 100vh;
	margin: 0;
	overflow: hidden;
	text-align: center;
}

a {
	color: #fff;
}

h1 {
	line-height: 1.4;
}

.screen {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: margin 0.75s linear;
	height: 100vh;
	width: 100vw;
}

.screen.up {
	margin-top: -100vh;
}

.btn {
	border: 0;
	background-color: #fff;
	color: #516dff;
	cursor: pointer;
	font-family: 'Press Start 2P';
	padding: 15px 20px;
}

.btn:hover {
	opacity: 0.9;
}

.btn:active {
	opacity: 0.7;
}

.insects_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
}

.insects_list li {
	margin: 10px;
}

.choose_insect_btn {
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	cursor: pointer;
	font-family: 'Press Start 2P';
	width: 150px;
	height: 150px;
}

.choose_insect_btn:hover {
	background-color: #fff;
	color: #516dff;
}

.choose_insect_btn:active {
	background-color: rgba(255, 255, 255, 0.7);
}

.choose_insect_btn img {
	object-fit: contain;
	width: 100px;
	height: 100px;
}

.game_container {
	position: relative;
}

#time,
#score {
	top: 20px;
	position: absolute;
}

@media screen and (max-width: 480px) {
	#time,
	#score {
		font-size: 12px;
	}
}

#time {
	left: 20px;
}

#score {
	right: 20px;
}

#annoying_message {
	line-height: 1.6;
	position: absolute;
	top: 0;
	left: 50%;
	transition: transform 0.4s ease-in;
	transform: translate(-50%, -150%);
	opacity: 0;
	text-align: center;
	width: 100%;
}

#annoying_message.visible {
	transform: translate(-50%, 100%);
	opacity: 1;
}

.insect {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	transform: translate(-50%, -50%) scale(1);
	cursor: pointer;
	width: 100px;
	height: 100px;
	transition: transform 0.3s ease-out;
}

.insect.catched {
	transform: translate(-50%, -50%) scale(0);
}

.insect img {
	object-fit: contain;
	width: 100px;
	height: 100px;
}
