@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(to right, #9796f0, #fbc7d4);
	color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Muli';
	height: 100vh;
	margin: 0;
}

.reviews-container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.3);
	padding: 20px;
}

.review {
	border: 1px solid transparent;
	border-radius: 5px;
	color: #777;
	display: flex;
	font-size: 12px;
	align-items: center;
	padding: 10px;
	margin: 5px 0;
}

.review:hover {
	border: 1px solid #ddd;
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.7);
}

.progress {
	background-color: rgba(100, 100, 100, 0.2);
	border-radius: 5px;
	position: relative;
	margin: 0 10px;
	height: 10px;
	width: 200px;
}

.progress-done {
	background: linear-gradient(to left, rgb(242, 112, 156), rgb(255, 148, 114));
	box-shadow: 0 3px 3px -5px rgb(242, 112, 156), 0 2px 5px rgb(242, 112, 156);
	border-radius: 5px;
	height: 10px;
	width: 0;
	transition: width 1s ease 0.3s;
}

.percent {
	color: #333;
}
