@import url('https://fonts.googleapis.com/css?family=Muli:300,600&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	display: flex;
	flex-direction: column;
	font-family: 'Muli', sans-serif;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0 0 50px;
}

a {
	color: #3498db;
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin-bottom: 20px;
	text-align: center;
}

small {
	margin-top: 10px;
}

table {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border-spacing: 0;
}

table tr th {
	background-color: #F1F5F8;
	border-bottom: 2px solid #ccc;
	font-size: 12px;
	padding: 10px;
	text-transform: uppercase;
	text-align: left;
}

table tr {
	border-bottom: 1px solid #ccc;
}

table tr td {
	background-color: #fff;
	border: 0;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

table tr:nth-of-type(odd) td {
	background-color: #f9f9f9;
}

table tr:last-of-type td {
	border-bottom: 0;
}

table tr td img {
	border-radius: 50%;
	object-fit: cover;
	height: 35px;
	width: 35px;
}

table tr td:nth-of-type(2), table tr td:nth-of-type(3) {
	font-weight: bold;
}

table tr td:nth-of-type(3), table tr td:nth-of-type(4) {
	text-align: center;
}

@media screen and (max-width: 768px) {
	table tr *:nth-of-type(4), table tr *:nth-of-type(5) {
		display: none;
	}
}

@media screen and (max-width: 550px) {
	body {
		justify-content: flex-start;
	}
	
	table tr *:nth-of-type(6) {
		display: none;
	}
}
