@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #FF3CAC;
background-image: -webkit-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
background-image: -moz-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
background-image: -o-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Muli', sans-serif;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	text-align: center;
}

.fa-snowflake {
	color: #fff;
	position: absolute;
	top: -20px;
	animation: fall linear forwards;
}

@keyframes fall {
	to {
		transform: translateY(105vh);
	}
}

.countdown-container {
	display: flex;
}

.time {
	display: flex;
	font-size: 1.2em;
	flex-direction: column;
	margin: 0 15px;
}

.time h1 {
	margin-bottom: 0;
}

.time small {
	color: #ccc;
}
