@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow: hidden;
}

h1 {
	color: #fff;
	font-family: 'Lora';
	font-size: 100px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
}
